#t1{
    
    padding: 10px;
    font-family: cursive;
  
    
}
#f1{
    background-image: url(p3.jpg) ;
}
h1{
    color: rgb(1, 133, 249);
    font-family:cursive;
    
}
#b1:hover 
{
    background-color: #fbc605;
    width: 100px;
    
   
    
}
#b1{
    font-family: cursive;
    font-size: medium;
    transition: width 2s;

}
#i1{
    background-color: rgb(0, 115, 255,0.5);
}
#i2{
    background-color: rgb(0, 115, 255,0.5);
}
#i3{
    background-color: rgb(0, 115, 255,0.5);
}
#i4{
    background-color: rgb(0, 115, 255,0.5);
}

#i6{
    background-color: rgb(0, 115, 255,0.5);
}

